body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

/* transicion de color */
.item {
  background-color: tomato;
  width: 200px;
  height: 200px;
  transition-property: background-color;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.97, -0.18, 0.2, 1.13);
  /* transition-delay: 300ms; */
}

.item:hover {
  background-color: lightblue;
}

.parrafoAmplio {
    transition: font-size 300ms ease-out;
}

.parrafoAmplio:hover {
  font-size: large;
  cursor: pointer;
}

.itemOpacidad{
   width: 200px;
   height: 100px;
   background-color: aquamarine;
   opacity: 0.6;
   transition: opacity 200ms ease-in-out;
}

.itemOpacidad:hover{
    opacity: 1;
}

.subrayado{
    position: relative;
    display: inline-block;
}
.subrayado:hover{
    cursor: pointer;
}

.subrayado::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-color: brown;
    height: 2px;
    transition: width 250ms ease-in;
}
.subrayado:hover::after{
    width: 100%;
}